<div class="scratchpad-dev-record">
    <div class="scratchpad-dev-record-buttons">
        <button class="scratchpad-dev-new-chunk simple-button">{{{i18n "Start New Chunk" }}}</button>
        <button class="scratchpad-dev-discard-chunk simple-button">{{{i18n "Discard Recorded Chunk" }}}{{/_}}</button>
        <button class="scratchpad-dev-save-chunk simple-button">{{{i18n "Save Recorded Chunk" }}}</button>
        <button class="scratchpad-dev-refresh-editor-state simple-button">{{{i18n "Refresh Editor State" }}}</button>
    </div>
    <div class="show-audio-chunks-wrapper">
        <p>{{{i18n "Last audio chunk recorded:" }}}<span class="last-audio-chunk">{{{i18n "Empty" }}}</span></p>
        <p>{{{i18n "All saved audio chunks:" }}}<span class="saved-audio-chunks">{{{i18n "Empty" }}}</span></p>
    </div>
</div>