<div class="current-media"><img src="{{imagesDir}}cute/Blank.png"/></div>
<div class="media-groups">
    <div style="position: relative;">
    {{#each groups}}
        <div class="media-group">
            <h3>{{groupName}}</h3>
            {{#if cite}}
                <p><a href="{{citeLink}}" target="_blank">{{cite}}</a></p>
            {{/if}}
            {{#each images}}
            <div class="image" data-path="{{../groupName}}/{{this}}">
                <img src="{{../imagesDir}}throbber.gif" data-lazy-src="{{../imagesDir}}{{../groupName}}/{{this}}.png"/>
                <span class="name">{{this}}</span>
            </div>
            {{/each}}
        </div>
    {{/each}}
    </div>
</div>