<div class="modal mediapicker-modal">
    <ul class="nav nav-tabs" role="tablist">
    {{#patchedEach classes}}
      <li {{#if $first}}class="active"{{/if}}><a href="#im-class-{{slugify className}}">{{className}}</a></li>
    {{/patchedEach}}
    </ul>

    <div class="tab-content">
    {{#patchedEach classes}}
      <div class="tab-pane {{#if $first}}active{{/if}}" id="im-class-{{slugify className}}">
        <div class="mediapicker-modal-content">
        <div style="position: relative;">
        {{#each groups}}
            <div class="mediapicker-modal-group">
                {{#hasMultipleItems ../groups}}
                <h3 id="im-group-{{slugify groupName}}">{{groupName}}</h3>
                {{/hasMultipleItems}}
                {{#if cite}}
                    <p><a href="{{citeLink}}" target="_blank">{{cite}}</a></p>
                {{/if}}
                {{#each images}}
                <div class="image mediapicker-modal-file"
                    data-update-path="{{../../../imagesDir}}{{../groupName}}/{{this}}.png"
                    data-preview-path="{{../../../imagesDir}}{{../groupName}}{{../thumbsDir}}/{{this}}.png"
                    data-path="{{../groupName}}/{{this}}">
                    <div class="thumb-shell"><img src="{{../../../imagesDir}}throbber.gif" data-lazy-src="{{../../../imagesDir}}{{../groupName}}{{../thumbsDir}}/{{this}}.png"/></div>
                    <span>{{this}}</span>
                </div>
                {{/each}}
                {{#each sounds}}
                <div class="sound mediapicker-modal-file"
                    data-update-path='"{{../groupName}}/{{this}}"'
                    data-preview-path="{{../groupName}}/{{this}}"
                    data-path="{{../groupName}}/{{this}}">
                    <audio data-lazy-src="{{../../../soundsDir}}{{../groupName}}/{{this}}.mp3" controls/>
                    <span>{{this}}</span>
                </div>
                {{/each}}
            </div>
        {{/each}}
        </div>
        </div>

        <div class="right">
        {{#hasMultipleItems groups}}
        <ul class="nav nav-pills nav-stackable">
        {{#patchedEach groups}}
            <li {{#if $first}}class="active"{{/if}}><a href="#im-group-{{slugify groupName}}">{{groupName}}</a></li>
        {{/patchedEach}}
        </ul>
        {{/hasMultipleItems}}
        </div>

        <div style="clear: both;"></div>
      </div>
    {{/patchedEach}}
    </div>

    <div class="mediapicker-modal-footer">
      <button type="button" class="simple-button" data-dismiss="modal">{{#_}}Close{{/_}}</button>
      <button type="button" class="simple-button green mediapicker-modal-submit" data-dismiss="modal">{{#_}}Ok{{/_}}</button>
    </div>
</div>