<html>
<head>
{{!
These styles are intentionally not put next to the other styles so that
    they will apply only to the sql iframe output.
}}
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
    margin-bottom: 20px;
}
table thead {
    background: #e6e6e6;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
th:first-child {
    border-radius: 6px 0 0 0;
}
th:last-child {
    border-radius: 0 6px 0 0;
}
th:only-child{
    border-radius: 6px 6px 0 0;
}
tbody {
    border: 1px solid #dbdbdb;
}
td {
    border: 1px solid #eeeeee;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .3em 1em;
}
th {
    font-family: "Proxima Nova", sans-serif;
    padding: .4em 1em;
}
th a {
    color: #699c52;
}
h1 {
    clear: both;
    color: #aaa;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 10px;
    text-transform: uppercase;
}
table.sql-schema-table {
    float:left;
    width: auto;
}
table.sql-schema-table .column-type-wrap {
    float: right;
    margin-left: 20px;
    min-width: 70px;
}
table.sql-schema-table .schema-pk {
    color: #999;
}
table.sql-schema-table .schema-column-type {
    float: left;
    color: #999;
}
table.sql-schema-table + table.sql-schema-table {
    margin-left: 10px
}
table.sql-schema-table .row-count {
    color: #999;
    float: right;
    margin-left: 30px;
    text-align: right;
    font-weight: normal;
}
</style>
</head>

<body>
<div class="sql-output">
    {{#if tables}}
        <h1>{{databaseMsg}}</h1>
    {{/if}}
    {{#each tables}}
        <table class="sql-schema-table" data-table-name="{{name}}">
        <thead>
        {{#if hasSingleRow}}
            <th><a href="javascript:void(0)">{{name}}</a> <span class="row-count">{{rowCount}} {{rowMsg}}</span></th>
        {{else}}
            <th><a href="javascript:void(0)">{{name}}</a> <span class="row-count">{{rowCount}} {{rowsMsg}}</span></th>
        {{/if}}
        </thead>
        <tbody>
        {{#each columns}}
            <tr><td>
            {{name}} {{#if pk}}<span class="schema-pk">(PK)</span>{{/if}} <span class="column-type-wrap"><span class="schema-column-type">{{type}}</span></span>
            </td></tr>
        {{/each}}
        </tbody>
        </table>
    {{/each}}

    {{#if results }}
        <h1>{{resultsMsg}}</h1>
    {{/if}}
    {{#each results}}
        <table class="sql-result-table">
        <thead>
        {{#each columns}}
            <th>{{this}}</th>
        {{/each}}
        </thead>
        <tbody>
        {{#each values}}
            <tr>
                {{#each result}}
                    {{#isNull data}}
                        <td>NULL</td>
                    {{else}}
                        <td>{{data}}</td>
                    {{/isNull}}
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
        </table>
    {{/each}}
</div>
</body>
</html>
